body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* <<< ADD THIS */
    justify-content: flex-start; /* <<< ADD THIS */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    width: 220px; /* Set a fixed width */
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /*-----------------------------------------------------------*
    Firebase status div styling
  /*----------------------------------------------------------*/
  #s_fbStatus {
    display: block;
    margin: 0px;
    padding-top: 4px;
    font-size: 14px;
  }
  
  .p_fbStatus {
    display: inline-block;
    margin: 0px;
    padding-top: 4px;
    margin-right: 20px; /* Add some spacing between paragraphs */
  }
  
  /*------------------------------------------------------------
  header styling
/*----------------------------------------------------------*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;
}

#img_photoURL {
  width: 40px;
  height: 40px;
  margin: 0px;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

#b_back {
  display: block; 
  height: 40px;
}
